<div class="container-fluid">
  <div class="row">
    <div class="userData col-2" *ngIf="authService.userData as user">

      <img class="rounded-circle"
           src="{{(user.photoURL) ? user.photoURL : '/assets/HdosC58.jpg'}}"
           alt="{{user.displayName}}">

      <p><strong>{{(user.displayName) ? user.displayName : 'dear user'}}</strong></p>
      <p><strong>{{user.email}}</strong></p>

      <button class="btn  btn-outline-danger" type="submit" (click)="authService.SignOut()">Log out</button>

    </div>

    <main class="col-10">
      <iframe src="https://dalmariko.github.io/myresume/" ></iframe>
    </main>

  </div>
</div>
