<div class="sign">

  <h1>Thank You for Registering</h1>

  <div class="formGroup" *ngIf="authService.userData as user">
    <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
    <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
  </div>

  <button type="submit" class="btn  btn-primary btn-block" (click)="authService.SendVerificationMail()">
    <i class="fas fa-redo-alt"></i>
    Resend Verification Email
  </button>

  <button class="btn btn-sm btn-success btn-block" type="button"
          (click)="authService.RestartPage()" >Sign In
  </button>

</div>
